# Data Science Tools and Ecosystem

**Objetives:**
- List popular languages for Data Science  
- List commonly used libraries by Data Scientists  
- Create tables using Markdown  
- Demonstrate basic arithmetic operations in Python  
- Share a final summary of Data Science tools and concepts

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Matplotlib

| Data Science Tools       |
|--------------------------|
| Jupyter Notebook         |
| RStudio                  |
| Apache Zeppelin          |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Eduardo Sebastian Garro